@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* root element is the entire page */
/*define colors here cause if u want to change colors in future changing them here will reflect it on the page thus only 1 place u'll have to change   */
:root{
    --primary-color: #F87171;
    --off-white: #F3F4F6;
    --dark-gray: #4B5563;

}


body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}


/* container */
/* rem - (under relative length unit) relative to the font size of the root element */
/* when rem is not used the spacing will remain the same but on zooming the font size will change creating 
problems in the web page */
.container{
    padding: 0rem 1 rem;
}

.container-center{
    max-width: 600px;
    margin:auto;
}

/* links */
/* links imp - 2 type primary and sec- have to define primary colour for website */
/* VAR IS CSS VARIABLE HERE */

.link {
    box-sizing: border-box;
    /* to remove underline */
    text-decoration: none;  
    /* padding is done in the form top rt bot lt so here top and rt have been defined which automatically defines bottom and left aswell  */
    padding: 0.5rem 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1 rem; instead of box sizing*/

}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white
}
.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}
/* look into BEM naming convention for css */

/* lists */

.list-non-bullet{
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills{
    text-align: right;
}


.navigation .link{
    color:white
}

.navigation .link-active {
   font-weight: bold; 

}

/* header */

.hero{
padding: 2rem;
padding-top: 5rem;
}

.hero .hero-img{
    max-width: 450px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* section */

.section{
    padding: 2rem;
}

.section h1 {
    text-align: center;
  
}

.ow{
    background-color: var(--off-white);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align:center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;

}
.footer ul{
    padding-inline-start: 0px;
}


